:80 {
  	tls internal
	root * /srv/public
	encode gzip

	handle_path /club/* {
		root * /srv/public
		rewrite * /{path}
		php_fastcgi php:9000
		file_server
	}

	handle {
		php_fastcgi php:9000
		file_server
	}
}
